@model int

<a class="btn btn-primary btn btn-square" asp-action="Edit" asp-route-id="@Model"><i class="far fa-edit"></i>&nbsp;Edit</a>
<a class="btn btn-success btn btn-square" asp-action="Details" asp-route-id="@Model"><i class="far fa-list-alt"></i>&nbsp;Details</a>
<a class="btn btn-danger btn btn-square" asp-action="Delete" asp-route-id="@Model"><i class="far fa-trash-alt"></i>&nbsp;Delete</a>